.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.btn-main {
  background-color: #f4ce14;
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: 600;
}

.btn-gray {
  background-color: #edefee;
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: 600;
  color: #495e57;
}

.header {
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 60px;
}

.banner-section {
  background-color: #495e57;
  padding: 36px 0;
}

.banner-section .container {
  display: flex;
  justify-content: center;
}

.banner-title {
  text-align: left;
}

.banner-title h1 {
  color: #f4ce14;
}

.banner-title h2 {
  color: #edefee;
}

.banner-content {
  display: flex;
}

.banner-description {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 20px;
}

.banner-description p {
  text-align: left;
  color: #ffffff;
}

.banner-img {
  width: 147px;
  height: 152px;
  object-fit: cover;
}

.menu-options ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-list .menu-item {
  display: flex;
  align-items: center;
}

.menu-item .item-description {
  text-align: left;
  max-width: 290px;
}

.menu-item img {
  width: 83px;
  height: 83px;
  object-fit: cover;
}

.footer {
  background-color: #edefee;
  width: 100%;
  padding: 40px;
}
